<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>RookieRobot</title>
</head>
<body>
    <h1>Use RookieRobot</h1>
    <form method="POST">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1" name="username">@</span>
            <input type="text" name="username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
            <span class="input-group-text">Message</span>
            <textarea class="form-control" aria-label="Message" name="custom_message"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        {% if message %}
        <p>Note: {{ message }}</p>
        {% endif %}
    </form>
    {% block content %}
    {% endblock %}
</body>
</html>